.expense_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.expense_form_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem
}