.sign_up_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.name_input_outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}